<!-- Include Defatul HTML Header -->
<%- include partials/header.ejs %>
<!-- Include Default Html Navigation Menu -->
<%- include partials/main_nav.ejs %>
    
  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
        <h1 style="color:#daa520;" class="display-2 text-center" id="mobile-txt-title">Contact</h1>
    </div>
  </main>

<!-- Include Defatul HTML Bottom -->
<%- include partials/bottom_nav.ejs %>
<!-- Include Defatul Footer -->
<%- include partials/footer.ejs %>