<!-- Include Defatul HTML Header -->
<%- include partials/header.ejs %>
<!-- Include Default Html Navigation Menu -->
<%- include partials/main_nav.ejs %>
    
  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
        <h1 style="color:#daa520;" class="display-2 text-center" id="mobile-txt-title">Website Tutorial</h1>
        <h3>Home Page</h3>
        <p>The home page is the entry point of the website. </p>
        <img src="/assets/images/DIT/HomePage2.jpg" alt="home_page" style="width: 100%"><br><br>
        <p>After click on Menu button, Nav Bar is displayed. </p>
        <p>&nbsp;&nbsp;&nbsp;  -	If user is logged out, the option would be Home, Sundials, Contact, Help and Login. Sundials page will be restricted and redirect the user to Login Page.</p> 
        <img src="/assets/images/DIT/HomePage3.JPG" alt="home_page" style="width: 100%"><br><br>
        <p>&nbsp;&nbsp;&nbsp;  -	If user is logged, the option would be Home, Sundials, Contact, Help and Logout.</p> 
        <img src="/assets/images/DIT/HomePage4.JPG" alt="home_page" style="width: 100%"><br><br> 
        <p>&nbsp;&nbsp;&nbsp;  -	If user click on logout, the website would request a confirmation if the user wants to complete the logout. </p> 
        <img src="/assets/images/DIT/HomePage5.JPG" alt="home_page" style="width: 100%"><br><br> 
        <h3>Login/Register</h3>
        <img src="/assets/images/DIT/HomePageFlow.png" alt="home_page_flow" style="width: 100%"><br><br> 
        <p>If a user tries to access a secure part of the website while being logged out, the system will force him to login. 
        If the user does not have an account then he can click the “Register Here” button and register in the respective page. 
        Each user information is stored in the MongoDB database. Once the user has logged in, he can now enter the Sundials list.</p>
        <br>
        <h4>Login </h4>
        <p>Authentication by email and password</p>
        <img src="/assets/images/DIT/Login.jpg" alt="login_page" style="width: 100%"><br><br> 
        <h4>Login Error</h4>
        <p>If there is an authentication error, email or password do not match with an existent user. Flash Message is displayed</p>
        <img src="/assets/images/DIT/LoginPageError.png" alt="login_page_error" style="width: 100%"><br><br> 
        <h4>Login Forgot Password</h4>
        <p>If the user forgot the password and click on Click Here after “Forgot Password” a new information will be displayed to contact by email</p>
        <img src="/assets/images/DIT/LoginForgot.JPG" alt="login_page_error" style="width: 100%"><br><br>         
        <h4>Registration</h4>
        <p>Register Page request Username, Password (must have at least 7 characters long), unique email, display name 
        (Name to displayed in the system) and user type (User and Caregiver).</p>
        <img src="/assets/images/DIT/RegisterPage.png" alt="register_page" style="width: 100%"><br><br>     
        <h4>Registration Error</h4>
        <p>&nbsp;&nbsp;&nbsp;  -	If password is less than 7 characters long flash message is displayed.</p> 
        <img src="/assets/images/DIT/RegisterPagePassError.png" alt="register_page_pass_error" style="width: 100%"><br><br> 
        <p>&nbsp;&nbsp;&nbsp;  -	If password user already exists flash message is displayed.</p> 
        <img src="/assets/images/DIT/RegisterPageUserExistsError.png" alt="register_page_user_exists_error" style="width: 100%"><br><br>    
        <h4>Logged in</h4>
        <p>If Login, Google Authentication or Registration is successful the link is redirected to the home page with a welcome page. The session will hold 20 minutes of inactivity. After that, the user will need to sign in again</p>
        <img src="/assets/images/DIT/LoggedIn.jpg" alt="logged" style="width: 100%"><br><br>   
        <h3>Sundials</h3>
        <p>On Desktop View the Sundials Page would be displaying all the user’s cards and category. From this page the user would be able to access their cards information, add, 
        update or delete sundials or categories.</p>
        <p>&nbsp;&nbsp;&nbsp;  -	If the user does not have any sundials. The page would be displaying a message and a button to add a new Sundial</p> 
        <img src="/assets/images/DIT/sundials.jpg" alt="sundials" style="width: 100%"><br><br> 
        <p>&nbsp;&nbsp;&nbsp;  -	If the user has sundials. The page would be displaying all sundials created on the user account. 
        It would also have a button to add a new sundial and the category list to filter sundials.</p> 
        <img src="/assets/images/DIT/sundials2.jpg" alt="sundials" style="width: 100%"><br><br> 
        <p>On mobile view Sundials Page will be displaying only user’s cards and add new sundial buttons because of screen size.</p>
        <img src="/assets/images/DIT/mobile.jpg" alt="cards" style="width: 30%; height: 400px" class="pics"><br><br>
        <h4>Sundials Cards</h4>
        <p>Each card will display the Sundial Title, Button Share (Share content with friends registered in the system), 
        Category and the content. The content has no limit to be added however is displayed in the card in truncate mode 
        (20 characters long). If the user clicks on the content, a new page will display the complete message. The cards also 
        contains a Edit and Delete card button. </p>
        <img src="/assets/images/DIT/cards.jpg" alt="cards" style="width: 30%; height: 400px" class="pics"><br><br>
        <h4>Adding a New Sundial</h4>
        <p>After click on Add New Sundial, the form will be displayed. The user will need to input information for Title, Privacy 
        (Public or Private), Category and at least one content for sundial (Title and content). The max number of contents is six. 
        After finish the user can click on submit to save the sundial or cancel to go back to the sundial list. </p>
        <img src="/assets/images/DIT/add.jpg" alt="adding" style="width: 100%"><br><br>
        <img src="/assets/images/DIT/add.jpg" alt="adding" style="width: 100%"><br><br>
        <h4>Adding or deleting Categories</h4>
        <p>On the desktop view mode, on the left side of sundial view page. The user will have a category list, each user can have a unique category list 
        (by default it starts with Family, News and Food). However, this information can be deleted or added new categories. </p><br>
        <p>The user can input the new Category and click on Add button.</p>
        <img src="/assets/images/DIT/category.jpg" alt="category" style="width: 30%; height: 400px" class="pics"><br><br>
        <p>After click on Add button, the new category will be displayed.</p>
        <img src="/assets/images/DIT/category2.jpg" alt="category" style="width: 30%; height: 400px" class="pics"><br><br>
        <p>The new category will now be available to choose when adding or editing the sundial.</p>
        <img src="/assets/images/DIT/category3.jpg" alt="category" style="width: 30%; height: 200px" class="pics2"><br><br>
        <p>To delete the category the user can click on red X button. The system will request a confirmation, if click ok the item 
        will be deleted.</p>
        <img src="/assets/images/DIT/category4.jpg" alt="category" style="width: 100%"><br><br>
        <h4>Displaying the complete content </h4>
        <p>If the user click on the content information, a new page will display the complete content. For example, the user can click on the content of Election 2020.</p>
        <img src="/assets/images/DIT/content.jpg" alt="content" style="width: 100%"><br><br>
        <p>The content will be displayed in a box. The title of the sundial will be displayed, the title of content and the content. 
        It also has 2 buttons. Speak it (Text-to-Speech functionality that will the text inside the text area) and Go Back button 
        to return to the sundials list.</p>
        <img src="/assets/images/DIT/content2.jpg" alt="content" style="width: 100%"><br><br>
        <h4>Updating or deleting a sundial</h4>
        <p>The user can click on Edit Button. </p>
        <img src="/assets/images/DIT/update.jpg" alt="update" style="width: 30%; height: 300px" class="pics2"><br><br>
        <p>The sundial information will be displayed in a form that can be edited by the user. </p>
        <img src="/assets/images/DIT/update2.jpg" alt="update" style="width: 100%"><br><br>
        <p>The user can input the new information</p>
        <img src="/assets/images/DIT/update3.jpg" alt="update" style="width: 30%; height: 200px" class="pics2"><br><br>
        <p>Card Updated</p>
        <img src="/assets/images/DIT/update4.jpg" alt="update" style="width: 30%; height: 300px" class="pics2"><br><br>
        <p>To delete the category the user can click on red X button. The system will request a confirmation. </p>
        <img src="/assets/images/DIT/delete.jpg" alt="delete" style="width: 100%"><br><br>
        <p>If click ok the item will be deleted. </p>
        <img src="/assets/images/DIT/delete2.jpg" alt="delete" style="width: 100%"><br><br>
        <h4>Sharing Sundials</h4>
        <p>The user can share the sundial card with another registered user. On each sundial there is a Share Button. 
        Once the user clicks on the button</p>
        <p>&nbsp;&nbsp;&nbsp; * User that will be sharing the content</p>
        <img src="/assets/images/DIT/share.jpg" alt="share" style="width: 100%"><br><br>
        <p>&nbsp;&nbsp;&nbsp; * User that will be receiving the content</p>
        <img src="/assets/images/DIT/share2.jpg" alt="share" style="width: 100%"><br><br>
        <p>A new screen will pop up. The user will need to enter another user email or select on a contact list if the user has any saved there.</p>
        <img src="/assets/images/DIT/share3.jpg" alt="share" style="width: 30%; height: 250px" class="pics2"><br><br>
        <p>If the user exists, a flash message with success will be displayed and the email will be added as friend contact list.</p>
        <img src="/assets/images/DIT/share4.jpg" alt="share" style="width: 100%"><br><br>
        <img src="/assets/images/DIT/share5.jpg" alt="share" style="width: 30%; height: 250px" class="pics2"><br><br>
        <p>If the user does not exist, a flash message with error will be displayed and the email will not be added as friend contact list.</p>
        <img src="/assets/images/DIT/share6.jpg" alt="share" style="width: 100%"><br><br>
        <p>The user that will receive the content can update to see the card and the person that shared the content. 
        The new Sundials will be hosted in the category Shared Sundials and the user can edit and change to any category later.</p>
        <img src="/assets/images/DIT/share7.jpg" alt="share" style="width: 100%"><br><br>
    </div>
  </main>

<!-- Include Defatul HTML Bottom -->
<%- include partials/bottom_nav.ejs %>
<!-- Include Defatul Footer -->
<%- include partials/footer.ejs %>