<!-- Include Defatul HTML Header -->
<%- include partials/header.ejs %>
<!-- Include Default Html Navigation Menu -->
<%- include partials/main_nav.ejs %>
    
  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron titleMain">
        <h1 style="color:#daa520;" class="display-2 text-center" id="mobile-txt-title">GnomonTalk</h1>
        <h3 style="color:gold;" class="display-4 text-center" id="mobile-txt-sub">Augmented Reality communication for nonverbal persons</h3>   
    </div>
  </main>

<!-- Include Defatul HTML Bottom -->
<%- include partials/bottom_nav.ejs %>
<!-- Include Defatul Footer -->
<%- include partials/footer.ejs %>
